# Docker
# Build a Docker image 
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- master
- release/*

resources:
- repo: self

variables:
  # Container registry service connection established during pipeline creation
  dockerRegistryServiceConnection: '12e0ddc3-31a0-4e88-8164-c8dbb1444dfb'
  imageRepository: 'countryapi'
  containerRegistry: 'seoreborn.azurecr.io'
  dockerfilePath: '**/Dockerfile'
  tag: '$(Build.BuildId)'

  # Agent VM image name
  vmImageName: 'ubuntu-latest'

stages:
- stage: Build
  displayName: Build and push stage
  jobs:  
  - job: Build
    displayName: Build
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: Docker@2
      displayName: Build an image
      inputs:
        containerRegistry: 'seoreborn'
        repository: 'country-api'
        command: 'build'
        Dockerfile: '**/Dockerfile'
        arguments: '--build-arg ACCESS_TOKEN=$(ACCESS_TOKEN) --build-arg ARTIFACTS_ENDPOINT=$(ARTIFACTS_ENDPOINT)'
    - task: Docker@2
      inputs:
        containerRegistry: 'seoreborn'
        repository: 'country-api'
        command: 'push'
